preprocess:
  datasets:
    LibriSpeech:
      root: /aifs4su/data/zheny/data/data_8_21_2/
      trainsets:
      - dev
      - test
      - train
      testsets:
      - test-clean
  view:
    train_filelist: /aifs4su/data/zheny/data/data_8_21_2/mls_all_audio_path_higher_quality.txt
    test_filelist: /aifs4su/data/zheny/data/data_8_21_2/mls_all_audio_path_test.txt
  audio:
    sr: 16000
    normalization: false
    max_wav_value: 32768.0
  stft:
    n_fft: 1280
    window_length: 1280
    hop_length: 320
dataset:
  dataset:
    _target_: data_module.FSDataset_add_STFT
  train:
    filelist: real_train.txt
    batch_size: 8
    shuffle: true
  val:
    filelist: real_test.txt
    batch_size: 8
    shuffle: false
  test:
    filelist: /aifs4su/data/zheny/data/data_8_21_2/mls_all_audio_path_test.txt
    batch_size: 1
    shuffle: false
  padding_idx: 0
  frame_length: 200
  min_audio_length: 96000
  num_workers: 5
  prefetch_factor: 5
model:
  codec_encoder:
    ngf: 48
    hidden_dim: 1024
    depth: 1
    heads: 16
    pos_meb_dim: 64
    up_ratios:
    - 2
    - 2
    - 4
    - 4
    - 5
    dilations:
    - 1
    - 3
    - 9
  codec_decoder:
    ngf: 48
    up_ratios:
    - 5
    - 4
    - 4
    - 2
    - 2
    dilations:
    - 1
    - 3
    - 9
    hidden_dim: 1024
    depth: 12
    heads: 16
    pos_meb_dim: 64
    vq_num_quantizers: 1
    vq_dim: 2048
    vq_commit_weight: 0.25
    vq_weight_init: false
    vq_full_commit_loss: false
    codebook_size: 16384
    codebook_dim: 16
  mpd:
    periods:
    - 2
    - 3
    - 5
    - 7
    - 11
    max_downsample_channels: 512
    channels: 16
    channel_increasing_factor: 4
  mstft:
    stft_params:
      fft_sizes:
      - 78
      - 126
      - 206
      - 334
      - 542
      - 876
      - 1418
      - 2296
      hop_sizes:
      - 39
      - 63
      - 103
      - 167
      - 271
      - 438
      - 709
      - 1148
      win_lengths:
      - 78
      - 126
      - 206
      - 334
      - 542
      - 876
      - 1418
      - 2296
      window: hann_window
    in_channels: 1
    out_channels: 1
    kernel_sizes:
    - 5
    - 3
    channels: 32
    max_downsample_channels: 512
    downsample_scales:
    - 2
    - 2
    - 2
    use_weight_norm: true
train:
  trainer:
    accelerator: gpu
    num_nodes: 1
    devices: 2
    min_steps: 1000000
    max_steps: 1000000
    precision: bf16-mixed
    limit_val_batches: 2560
    val_check_interval: 10000
    num_sanity_val_steps: 0
    accumulate_grad_batches: 1
  lambdas:
    lambda_disc: 1.0
    lambda_feat_match_loss: 1.0
    lambda_mel_loss: 15.0
    lambda_adv: 1.0
    lambda_stft_loss: 1.0
    lambda_semantic_loss: 5
    lambda_perceptual_loss: 0
  use_mel_loss: true
  use_feat_match_loss: true
  use_stft_loss: true
  stft_loss_params:
    fft_sizes:
    - 1024
    - 4096
    hop_sizes:
    - 256
    - 1024
    win_lengths:
    - 1024
    - 4096
    window: hann_window
  gen_optim_params:
    lr: 1.0
    betas:
    - 0.8
    - 0.9
  disc_optim_params:
    lr: 1.0
    betas:
    - 0.8
    - 0.9
  gen_grad_clip: 1.0
  disc_grad_clip: 1.0
  gen_schedule_params:
    warmup_step: 100
    down_step: 400000
    min_lr: 5.0e-05
    max_lr: 0.0004
  disc_schedule_params:
    warmup_step: 100
    down_step: 400000
    min_lr: 5.0e-05
    max_lr: 0.0004
  accumulate_grad_batches: 8
save_top_k: 5
every_n_train_steps: 10000
log_dir: 48k
wandb_name: 48k
wandb_project: neucodec_48k
debug: false
ckpt: null
input_dir: null
output_dir: null
